/* Set the map height explicitly to define the size of the div
* element that contains the map. 
*/
#map {
    height: 100%;
    width: 100%;
    min-height: 500px;
}

#text-center-to-div{
    padding-left: 200px;
}

#dinner-field {
    margin-left: 30px;
}

body {
    font-family: "Arial", sans-serif;
    background-image: url(/static/img/cloth.png);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

#rest-form {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 5%;
    margin-left: 6%;
    margin-top:3%;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.bg-light {
    background-color: rgba(215, 98, 108, 1)!important;
}