{% extends 'base.html' %}

{% block title %}confirm-restaurant{% endblock %}

{% block content %}

    <form action="/get-tip-info" method="POST">
        What restaurant did you mean?
        <br>
        <br>
        <select name="restaurant">
            
            {% for restaurant in restaurants_in_db %}
                
                <option value="{{ restaurant['yelp_restaurant_id'] }}|{{ restaurant['name'].capitalize() }}" > {{ restaurant['name'].capitalize() }} ({{ restaurant['address'] }}) </option> 
                
            {% endfor %}
            
        </select>
        <input type="submit" value="Go">
    </form>
    <br>

{% endblock %}