{% extends 'base.html' %}

{% block title %}confirm-restaurant{% endblock %}

{% block content %}

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a class="navbar-brand" href="#"><img src="/static/img/logo.png" width="60" height="30" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarText">
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tip-calculator"> Tip Calculator </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Admin </a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br>

    <!-- Confirm restaurant -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 card">
                <div class="card-body">
                <form name="show_restaurants" action="/get-tip-info" method="POST">
        
                    <p>What restaurant did you mean?</p>  
        
                    <select name="restaurant" required>
            
                        <option disabled selected value>Select your restaurant:</option>
            
                        {% for restaurant in restaurants_in_db %}

                            <option value="{{ restaurant['yelp_restaurant_id'] }}|{{ restaurant['name'].capitalize() }}|{{ restaurant['zipcode'] }}|{{ restaurant['address'] }}">
                                {{ restaurant['name'].capitalize() }} ({{ restaurant['address'] }}) 
                            </option> 
                
                        {% endfor %}
                    </select>
        
                    <input type="submit" value="Go">

                </form>
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-5 card">
                
                <div class="card-body">
                <br>
                <form name="restaurant_not_found" action="/search-again" method="POST">

                    <p>If your restaurant is not in the list, click 'Search again' until you find it.</p>

                    <input type="hidden" name="restaurant_not_found" id="restaurant-not-found-field" value="{{ restaurant_name }}">
        
                    <input type="submit" name="notFound" id="notFound-button" value="Search again">

                </form>
                <br>

                <form hidden id="show_more_restaurants" action="/get-tip-info" method="POST">
        
                    <select name="possible-restaurants" id="possible-restaurants" required>
            
                    </select>

                    <input type="submit" value="Go">

                </form>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3 text-center">
                <img src="/static/img/restaurant.png" class="border border-secondary">
            </div>   
        </div>
    </div>

    <!-- control the searching for new restaurants -->
    <script src="/static/js/confirmRestaurant.js"></script>

{% endblock %}