<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Fusion Tables Styling</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.7749, lng: -122.4313},
          zoom: 12
        });

        var layer = new google.maps.FusionTablesLayer({
          query: {
            select: 'geometry',
            from: '1gLK5O8DPWYlHBzxKx71RNJ9lpbOZt2pk-Hx_ApdD'
          },
          styles: [{
            polygonOptions: {
              fillColor: '#C70039',
              fillOpacity: 0.2
            }
          }, {
            where: 'ZIP = 94127',
            polygonOptions: {
              fillOpacity: 0.4
            }
          }]
        });

        layer.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9lK9Pui9zGLPbkUrlqWv_eXZ9U4dr0QA&callback=initMap">
    </script>
  </body>
</html>