{% extends 'base.html' %}

{% block title %}telp{% endblock %}

{% block content %}

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <a class="navbar-brand" href="#"><img src="/static/img/logo.png" width="60" height="30" alt=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarText">
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tip-calculator"> Tip Calculator </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Admin </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    <!-- Average info, tip Calculator and map -->
    <div class="container card">
        <div class="row card-body">
            <div class="col-12 col-md-6 col-lg-6">

                <!-- Show average info -->
                
                <!-- if user search by restaurant -->
                {% if restaurant_name %} 
                    <h3>Restaurant {{ restaurant_name }}</h3>
                    <h4>{{ restaurant_address }}</h4>
                    <div class="alert alert-info" id="average-info">
                    {% if average_tip_lunch %}
                        <p>Lunch average tip: {{ average_tip_lunch }} %
                    {% endif %}</p>

                    {% if average_tip_dinner %}
                        <p>Dinner average tip: {{ average_tip_dinner }} %
                    {% endif %}</p>

                    {% if not average_tip_dinner and not average_tip_lunch %}
                        <p>Sorry, there is no average information for restaurant {{ restaurant_name }}. Put your price and the tip and be the first one to contribute!</p>
                    {% endif %}
                    </div>
                {% endif %}

                <!-- if user search by zipcode -->
                {% if zipcode %} 
                    <h3>Zipcode {{ zipcode }}</h3>
                    <div class="alert alert-info" id="average-info">
                    {% if average_tip_lunch %}
                        <p>Lunch average tip: {{ average_tip_lunch }} %
                    {% endif %}</p>
                
                    {% if average_tip_dinner %}
                        <p>Dinner average tip: {{ average_tip_dinner }} %
                    {% endif %}</p>
                    </div>
                {% endif %}

                <!-- show tip calculator -->
                <ul>
                    <h3>Tip Calculator</h3>
                    <form name="meal" action="/new-meal" id="meal" method="POST">

                    <!-- only if user search by restaurant -->
                    {% if restaurant_name %} 
                        <input type="hidden" name="restaurant_id" id="restaurant-id-field" value="{{ restaurant_id }}">
                        <input type="hidden" name="restaurant_zipcode" id="restaurant-zipcode-field" value="{{ restaurant_zipcode }}">
                        <input type="hidden" name="restaurant_address" id="restaurant-address-field" value="{{ restaurant_address }}">
                    {% endif %}

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"> Price (*):</label>
                            <div class="input-group col-sm-9">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"> $ </div>
                                </div>
                                <input type="number" min="0" step="0.01" maxlength="6" name="price" id="price-field" required>  
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"> Tip (*):</label>
                            <div class="input-group col-sm-9">
                                <input type="number" min="0" step="1" maxlength="3" name="percentage_tip" id="percentage-tip-field" required>
                                <div class="input-group-append">
                                    <div class="input-group-text"> % </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"> # Diners:</label>
                            <div class="input-group col-sm-9">
                                <input type="number" min="1" step="1" maxlength="3" name="diners" id="diners-field" value=1>
                            </div>
                        </div>

                        <div class="form-group row">
                            <legend class="col-form-label col-sm-3"> Meal type (*)</legend>
                            <div class="col-sm-9">
                                <input type="radio" name="meal_type" id="lunch-field" value="lunch"> Lunch
                                <input type="radio" name="meal_type" id="dinner-field" value="dinner" checked> Dinner
                            </div>
                        </div>

                        <input type="submit" id="calculate" class="btn btn-secondary" value="Calculate">
            
                        <div hidden id="results" class="container">
                            
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> Tip:</label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"> $ </div>
                                    </div>
                                    <input id="tip_in_dollars">  
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> Total price: </label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"> $ </div>
                                    </div>
                                    <input id="total_price">  
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"> Price/diner: </label>
                                <div class="input-group col-sm-9">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"> $ </div>
                                    </div>
                                    <input id="price_per_diner">  
                                </div>
                            </div>

                        </div>
                    </form>
                </ul>
            </div>

            {% if restaurant_name or zipcode %}
                <!-- show the map -->
                <div class="col-12 col-md-6 col-lg-6 border border-secondary" id="map"></div>
            
            {% else %}
            <!-- show a picture -->
                <div class="col-12 col-md-6 col-lg-6 ">
                    <br><br>
                    <img src="/static/img/calculator.png">
                </div> 

            {% endif %}
        </div>
    </div>

    <!-- control the tip calculator -->  
    <script src="/static/js/telp.js"></script>

    <!-- only if user search by restaurant -->
    {% if restaurant_name %}
        
        <script src="/static/js/map-restaurant.js"></script>

    {% endif %}

    <!-- only if user search by zipcode -->
    {% if zipcode %} 

        <input type="hidden" name="zipcode" id="zipcode-field" value="{{ zipcode }}">
        <script src="/static/js/map-zipcode.js"></script>

    {% endif %}

    <!-- make Google API request if there is a restaurant o zipcode -->
    {% if restaurant_name or zipcode %}
        
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap" async defer></script>
      
    {% endif %}

{% endblock %}